* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f8f9fc;
  color: #333;
}


header {
  background: linear-gradient(135deg, #151918, #3c2c28);
  color: white;
  text-align: center;
  padding: 20px;
}

.tagline {
  font-size: 14px;
  opacity: 0.9;
}

nav {
  margin-top: 10px;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: 500;
}


.hero {
  padding: 50px 20px;
  text-align: center;
}

.hero h2 {
  font-size: 32px;
}

.hero p {
  margin: 15px 0;
  color: #555;
}

.hero button {
  padding: 10px 25px;
  border: none;
  background: #1b0d1a;
  color: white;
  border-radius: 25px;
  cursor: pointer;
}


.content {
  padding: 30px 20px;
  max-width: 800px;
  margin: auto;
}

.features {
  display: flex;
  gap: 20px;
  padding: 30px 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 220px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  text-align: center;
}


form {
  max-width: 400px;
  margin: auto;
}

input, textarea, button {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

textarea {
  resize: none;
  height: 100px;
}

button {
  background: #1b0d1a;
  color: white;
  border: none;
  border-radius: 20px;
}


footer {
  margin-top: auto;
  background: #1f2937;
  color: white;
  text-align: center;
  padding: 12px;
}


@media (max-width: 600px) {
  .hero h2 {
    font-size: 24px;
  }
}
